---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.all %}
  <url>
    <loc>https://xtec.dev{{ page.url | url }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
</url>
{% endfor %}
</urlset>
