---
title: xtec.dev
nav:
  - ["Aprender", "/learn/"]
  - ["Administración de sistemas", "/fp/asir/"]
  - ["Aplicaciones Multiplataforma", "/fp/dam/"]
  - ["Aplicaciones Web", "/fp/daw/"]
  - ["Bioinformática", "/fp/bio/"]
---

<!doctype html>
<html lang="ca">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism.css">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/xtec.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <script src="/pagefind/pagefind-ui.js"></script>
    {% if mermaid %}
    
    <script src="https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      mermaid.initialize({ startOnLoad: true, theme: "base" });
    </script>
    {% endif %}
    {% if plotly %}
      <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <i class=" bi-house"></i>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            {%- for item in nav -%}
              <li class="nav-item">
                <a class="nav-link" href="{{ item[1] }}">{{ item[0] }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-2">
      <div class="row">
        <div id="search" class="col"></div>
      </div>
    </div>
    <hr/>
    <main class="container" id="main">
      <div class="row justify-content-center">
         <div class="col col-lg-9">
            {% breadcrumb %}

            <p class="d-inline-flex gap-1"><button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#toc" aria-expanded="false" aria-controls="#toc">Taula de continguts</button></p><div class="collapse" id="toc"><div class="card card-body mb-3 mt-1">

            {{ content | toc | safe }}

            </div></div>

            <p class="fw-semibold border border-secondary rounded p-2">{{ description }}</p>

            {{ content | safe }}
         </div>
      </div>
    </main>
    <hr/>
    <footer class="container mt-2 mb-4 text-center ">
      <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="/site/about/">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/site/contact/">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/site/privacy/">Privacidad</a></li>
      </ul>
      <p class="mt-1">El contenido de este sitio tiene licencia
        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.es">CC BY-NC-ND 4.0</a>.</p>
      <p class="fw-light">&copy;2022-25 xtec.dev</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
   </script>
   <script src="/assets/xtec.js"></script>
  </body>
</html>
